nav.sidenav
  ul.uk-nav.uk-nav-side
    each item in collections[collection[0].split(".")[0]]
      if Array.isArray(item)
        li.uk-nav-header #{item.section.replace('-',' ')}
        each subitem in item
          if path == subitem.path
            li.uk-active
              a(href="/" + subitem.path)!= subitem.title
          else
            li
              a(href="/" + subitem.path)!= subitem.title
      else
        if path == item.path
          li.uk-active
            a(href="/" + item.path)!= item.title
        else
          li
            a(href="/" + item.path)!= item.title

include footer.jade
